<p>Type your noun</p>

<input type="text" placeholder="noun" ng-model="input.noun"></input>
<input type="text" placeholder="noun" ng-model="input.noun2"></input>
<input type="text" placeholder="noun" ng-model="input.noun3"></input>
<input type="text" placeholder="verb" ng-model="input.verb1"></input>
<input type="text" placeholder="verb" ng-model="input.verb2"></input>
<input type="text" placeholder="adj" ng-model="input.adj1"></input>
<input type="text" placeholder="adj" ng-model="input.adj2"></input>

<div>
  <button ng-click="save()">make it go</button>
</div>