<p>Type your noun</p>

<input type="text" placeholder="place" ng-model="input.place"></input>
<input type="text" placeholder="Best Friend's Name" ng-model="input.friend"></input>
<input type="text" placeholder="Type of Party" ng-model="input.party"></input>
<input type="text" placeholder="pronoun" ng-model="input.pronoun"></input>
<input type="text" placeholder="verb" ng-model="input.verb"></input>
<input type="text" placeholder="noun" ng-model="input.noun"></input>
<input type="text" placeholder="onomatopoeia" ng-model="input.onomatopoeia"></input>

<div>
  <button ng-click="save()">make it go</button>
</div>